<% provide :title, t("title.all_subjects") %>
<h1><%= t "title.all_subjects" %></h1>
<%= link_to new_admin_subject_path do %>
  <span class= "glyphicon glyphicon-plus"></span>
  <%= t "subjects.create" %>
<% end %>
</br>

<div class="panel-body">
  <table class="table">
    <thead>
      <th><%= t "subjects.name" %></th>
      <th><%= t "subjects.created_at" %></th>
      <th><%= t "subjects.update_at" %></th>
      <th></th>
    </thead>
    <% @subjects.each do |subject| %>
      <tr>
        <td><%= subject.name %></td>
        <td><%= subject.created_at.strftime t "time.type" %></td>
        <td><%= subject.updated_at.strftime t "time.type" %></td>
        <% if can? :manage, subject%>
          <td class="text-center">
            <%= link_to "", admin_subject_path(subject),
              class: "glyphicon glyphicon-info-sign icon_show_with_50" %>

            <%= link_to "", edit_admin_subject_path(subject),
              class: "glyphicon glyphicon-edit icon_edit_with_50" %>

            <%= link_to "", admin_subject_path(subject), method: :delete,
              data:{confirm: t("notice.delete_confirm")},
              class: "glyphicon glyphicon-trash icon_delete_with_50" %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
<div class="text-center"><%= paginate @subjects %></div>
