<% provide :title, t("sessions.login") %>
<h1><%= t "sessions.login" %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= form_for resource, as: resource_name, url: session_path(resource_name) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>

      <div class="field margin-t-15">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field margin-t-10">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions margin-t-15">
        <%= f.submit t("sessions.login"), class: "btn btn-primary btn-md btn-block" %>
      </div>
    <% end %>

    <%= render "users/shared/links" %>
    <div><%= link_to t("sessions.sign_in_facebook"), user_facebook_omniauth_authorize_path %></div>
    <div><%= link_to t("sessions.sign_in_google"), user_google_oauth2_omniauth_authorize_path %></div>
  </div>
</div>
