<h1><%= t "questions.all_questions" %></h1>
<%= link_to new_admin_question_path do %>
  <span class= "glyphicon glyphicon-plus"></span>
  <%= t "questions.create_question" %>
<% end %>
</br>

<div class="panel-body">
  <table class="table">
    <thead>
      <th class="text-center"><%= t "questions.index" %></th>
      <th><%= t "questions.question" %></th>
      <th><%= t "questions.subject" %></th>
      <th><%= t "questions.type" %></th>
      <th><%= t "questions.state" %></th>
      <th></th>
    </thead>
    <% @questions.each_with_index do |question, index| %>
      <tr>
        <td class="text-center"><%= index+1 %></td>
        <td><%= question.content %></td>

        <td><%= link_to "#{question.subject.name}",
          admin_subject_path(question.subject) %></td>
        <td><%= question.question_type %></td>
        <% if question.waiting? %>
          <td><span class="false_answer"><%= question.state %></span></td>
        <% else %>
          <td><%= question.state %></td>
        <% end %>
        <% if can? :manage, question %>
          <td class="text-center">
            <%= link_to "", admin_question_path(question),
              class: "glyphicon glyphicon-info-sign icon_show_with_50" %>

            <%= link_to "", admin_question_path(question),
              method: :delete, data:{confirm: t("notice.delete_confirm")},
              class: "glyphicon glyphicon-trash icon_delete_with_50" %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
<div class="text-center"><%= paginate @questions %></div>
