<footer class="footer">
  <small>
    <%= t "static_pages.the" %>
      <a href="http://www.railstutorial.org/"><%= t "static_pages.project_name" %></a>
    <%= t "static_pages.by" %>
      <a href="http://www.michaelhartl.com/"><%= t "static_pages.author_names" %></a>
  </small>
  <nav>
    <ul>
      <li><a href="http://news.railstutorial.org/"><%= t "static_pages.news" %></a></li>
    </ul>
  </nav>
</footer>
